<html>

<head>
  <title>My Web</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/stylesheets/home.css" />
  
</head>

<div class="main-container">
    <div class="blur-circle1">

    </div>
    <div class="blur-circle2">

    </div>
      <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <a href="#" class="logo">Your <b>Website</b></a>
        <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Contact</li>
        </ul>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Looking For Inspiration</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
          <button>Button name</button>
        </div>
        <div class="image">
          <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp">
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->
</div>